@media only screen and (max-width: 1280px) {
    body:not(.elementor-editor-active) .phoenix-image-slider .elementor-swiper-button-prev{
        left: -30px;
      }
      body:not(.elementor-editor-active) .phoenix-image-slider .elementor-swiper-button-next{
        right: -30px;
      }
      .elementor-section.elementor-section-boxed.phoenix-image-slider>.elementor-container{
        padding: 0 15px;
      }
}
@media screen and (max-width: 1200px) {
  body:not(.elementor-editor-active) .pricing-section .elementor-row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}