@media only screen and (max-width: 1024px) {
  .events-happening-sections
    .happening-content
    .event-list-wrapper
    .events-list
    li {
    font-size: 16px;
  }
  .events-happening-sections .happening-content .event-list-wrapper .events-list{
    padding-right: 0;
  }
  .events-happening-sections .happening-image .elementor-widget-image img {
    position: relative;
    right: auto;
    top: 0;
    width: 534px;
    max-width: none;
    z-index: 1;
    float: right;
    margin-top: -22px;
    right: -124px;
  }
  .events-happening-sections .elementor-row .happening-image {
    margin-bottom: 52px;
  }
}
